<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userRepository" class="com.ready2die.spring_introduction.UserRepositoryImpl"></bean>
    <bean id="passwordEncoder" class="com.ready2die.spring_introduction.BCryptPasswordEncoder"></bean>

    <bean id="userService" class="com.ready2die.spring_introduction.UserServiceImpl">
        <constructor-arg ref="userRepository"/>
        <constructor-arg ref="passwordEncoder"/>
    </bean>
</beans>